@font-face {  
  font-family: rubiklight;
  src: url('../../Assets/fonts/Rubik-Light.ttf');
}

@font-face {  
  font-family: rubik;
  src: url('../../Assets/fonts/Rubik-Bold.ttf');
}

.footer p {
  font-family: rubik;
}


.App {
  overflow-x: hidden;
  min-width: 310px;
  max-width: 98rem;
  margin: 0 auto;
}

.abtdimg {
  max-height: 225px;
  max-height: 210px;
}

.intro {
  height: 100vh;
}

.intro h2 {
  font-family: cursive;
}

.pointer {
  cursor: pointer;
}

.navList svg, a {
  width: 100%;
}

.abtbdy {
  max-width: 800px;
    margin: 33px auto;
}

.ml-d {
  margin-left: 31px;
}

.navToggler {
  z-index: 99;
}

.abtHead {
  word-spacing: 2px;
}

#nav-icon {
  width: 32px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  background: white;
  width: 100%;
  max-width: 32px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

.homeHead img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.container-m {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
}

.socialList li {
  display: inline-block;
  margin: 5px;
}

.socialList li svg {
  height: 20px;
  fill: white;
}

.abtImg {
  border: 1px groove black;
  border-radius: 10px;
  max-width: 230px;
  margin-left: auto;
  /* box-shadow: 1px 0.5px 16px 1px rgb(54, 54, 54); */
}


.abtImg img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  --s: 10px; /* control the size */
  border: calc(1.5*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.intro {
  background-color: rgba(0, 0, 0, 0.823);
}

.intro h1 {
  font-family: fantasy;
}

/* .infoList li {
  margin: 0 10px;
} */

.skills {
  justify-items: center;
  grid-column-gap: 0px;
}

.skills svg {
  margin: auto;
  font-size: 4em;
  height: 1em;
  width: 30px;
}

.skills div {
  animation: zoomInUp 2s;
  max-width: 140px;
}

.sectionHead {
  background-size: 100%;
  z-index: 1;
}

.homeHead {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.823);
}

.infoList li {
  display: flex;
  margin-right: 30px;
}

.infoList svg {
  fill: rgb(243, 15, 15);
  margin-top: 2.3px;
  margin-right: 4px;
}

.border-left {
  border-left: 6.5px solid rgb(243, 15, 15);
  padding-left: 8px;
}

.card {
  border: 1px groove rgb(27, 25, 25. 0.7);
  margin: 15px;
  max-width: 350px;
  height: 530px;
}

.card h1 {
  font-family: cursive;
}

.cardInfo {
  height: 55px;
}

.cardBtn a {
  position: relative;
  bottom: -15px;
  transition: all .5s ease-in;
  text-align: center;
}

.cardBtn {
  align-content: flex-end;
}

.cardImg img {
  height: 310px;
  width: 100%;
}

.contactMe h1 {
  font-family: fantasy;
}

.contactInfo svg {
  margin-top: 3px;
  margin-right: 3px;
}

form {
  width: 100%;
}

form input {
  background: none;
}

.textBox {
  height: 90px;
}

.projs div {
  opacity: 0.98;
}

.cards {
  border: 1px groove rgb(27, 25, 25. 0.7);
  margin: 15px;
  max-width: 400px;
}

.contactLink svg {
  height: 20px;
  width: 20px;
  margin: 2px 5px;
}

.contactInfo span {
  cursor: pointer;
}

.moTheme {
  right: 5px;
  bottom: 0px;
}


@media (max-width: 768px) {
  p {
    font-size: 1rem !important;
  }

  .abtdimg {
    max-height: 605px;
    max-height: 600px;
  }

  .abtImg img::before {
    background-color: red;
    height: 400px;
    width: 400px;
  }

  .abtImg {
    border-radius: 10px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .abtImg img {
    max-height: 223px;
    width: 211px;
  }

  br {
    display: none;
  }

  .sectionHead {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .intro {
    margin-top: -12px;
    padding: 41.5vh 0;
  }

  .intro h1 {
    margin-top: -30px;
    font-size: 4rem;
  }

  .card {
    height: 509px;
  }

  .cardImg img {
    height: 290px;
    width: 100%;
  }

  .abttext {

    max-width: 420px;
  }


}

@media (max-width: 576px) {

  p {
    font-size: 1rem !important;
  }

  .abttext {
    margin-left: 0px;
    margin-top: 5px;
    max-width: 420px;
  }

  .hidden {
    display: none !important;
  }

  .skills div {
    animation: zoomInUp 2s;
    max-width: 100px;
    max-height: 100px;
    padding: 5px;
  }

  .sectionHead {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .intro {
    margin-top: -15px;
    padding: 50.3vh 0;
  }

  .intro h1 {
    font-size: 3rem;
    margin-top: -8.6rem;
  }

  .cards {
    max-width: 300px;
  }
}

@media (max-width: 300px) {

  h1,
  p,
  h2 {
    font-size: 100%;
  }
}